<%= link_to "Home", cities_url %>
<h1>Welcome to <%= @user.username %>'s Profile!</h1>
<% if current_user == @user %>
  <%= link_to "Edit Profile", edit_user_url(@user) %>
<% end %>

<ul>
  <% if @user.location %>
    <li> <%= @user.location %> </li>
  <% end %>

  <% if @user.age %>
    <li> <%= @user.age %> </li>
  <% end %>

  <% if @user.gender %>
    <li> <%= @user.gender %> </li>
  <% end %>
</ul>

<h3>Biography:</h3>
<p><%= @user.biography %></p>

<h3>Favorite Places:</h3>
<%= render "favorites/user", :user => @user %>

<h3>Reviews:</h3>
<%= render "reviews/user", :user => @user %>