<%= link_to "All Cities", cities_url %>
<h1>All Restaurants in <%= City.find(params[:city_id]).name %></h1>
<%= link_to "Add a new restaurant", new_restaurant_url %>

<ul>
<% @restaurants.each do |restaurant| %>

  <li><%= link_to restaurant.name, restaurant_url(restaurant) %> (Average Rating: <%= average_rating(restaurant) %>)</li>

<% end %>
</ul>