<div class="city-switch">
  <form id="page-changer" action="" method="post">
    <select onChange="window.location.replace(this.options[this.selectedIndex].value)">
      <option value="">Go to city...</option>
      <% City.all.each do |city| %>
        <option value="<%= city_restaurants_url(city) %>">
          <%= city.name %>, <%= city.state.name %>
        </option>
      <% end %>
    </select>
  </form>
</div>

<div class="content group">

  <h2>What's popular in <%= @city.name %>, <%= @city.state.name %></h2>
  <%= link_to "Add a new restaurant", new_city_restaurant_url(@city) %>

  <ol class="group">
  <% @restaurants.each_with_index do |restaurant, i| %>

  <a href="<%= restaurant_url(restaurant) %>">
    <% if restaurant.photo.file? %>
      <%= image_tag restaurant.photo.url(:small) %>
    <% else %>
      <%= image_tag "http://i.imgur.com/xqtsqlj.png", size: "60x60" %>
    <% end %>
  </a>

    <li class="results">
      <%= (5*(@restaurants.current_page-1))+i+1 %>.
      <a href="<%= restaurant_url(restaurant) %>">
        <%= restaurant.name %>
      </a>
      (Average Rating: <%= restaurant.avg_rating.to_f.round(1) %>)
    </li>

  <% end %>
  </ol>

  <%= paginate @restaurants %>

  <hr>

  <h2>Recent Reviews</h2>
  <div class="recent-reviews group">
    <% @reviews.each do |review| %>
     <%= render partial: "reviews/pusherform", locals: {review: review} %>
    <% end %>
  </div>

</div>

<script src="http://js.pusher.com/2.1/pusher.min.js"></script>
<script>
  var pusher = new Pusher('<%= ENV["PUSHER_KEY"] %>');

  var channel = pusher.subscribe('reviews');

  channel.bind('new-review', function(data) {
    $(".recent-reviews").prepend(data);
  });
</script>