<%= link_to "Back", cities_url %>
<h1>All Restaurants in <%= @city.name %>, <%= @city.state.name %></h1>
<%= link_to "Add a new restaurant", new_city_restaurant_url(@city) %>

<ul>
<% @restaurants.each do |restaurant| %>

  <li>
    <a href="<%= restaurant_url(restaurant) %>">
    <% if restaurant.photo.file? %>
      <%= image_tag restaurant.photo.url(:small) %>
    <% end %>
    <%= restaurant.name %>
    </a>
    (Average Rating: <%= restaurant.average_rating %>)
  </li>

<% end %>
</ul>