<div class="city-switch">
  <form id="page-changer" action="" method="post">
    <select onChange="window.location.replace(this.options[this.selectedIndex].value)">
      <option value="">Go to city...</option>
      <% City.all.each do |city| %>
        <option value="<%= city_restaurants_url(city) %>">
          <%= city.name %>, <%= city.state.name %>
        </option>
      <% end %>
    </select>
  </form>
</div>

<div class="content group">

  <h2>What's popular in <%= @city.name %>, <%= @city.state.name %></h2>
  <%= link_to "Add a new restaurant", new_city_restaurant_url(@city) %>

  <ol class="group">
  <% @restaurants.each_with_index do |restaurant, i| %>

  <% if restaurant.photo.file? %>
    <a href="<%= restaurant_url(restaurant) %>">
      <%= image_tag restaurant.photo.url(:small) %>
    </a>
  <% end %>

    <li class="results">
      <%= (5*(@restaurants.current_page-1))+i+1 %>.
      <a href="<%= restaurant_url(restaurant) %>">
        <%= restaurant.name %>
      </a>
      (Average Rating: <%= restaurant.average_rating %>)
    </li>

  <% end %>
  </ol>

  <%= paginate @restaurants %>

</div>