<div class="content group">
  <h1>SEARCH RESULTS!</h1>

  <% if (@category || @restaurants) %>
    <% if @category %>
      <% @restaurants = @category %>
    <% else %>
      <% @restaurants.map!(&:searchable) %>
    <% end %>

    <ol class="group">
    <% @restaurants.each do |restaurant| %>
      <% if restaurant.photo.file? %>
        <%= image_tag restaurant.photo.url(:medium) %>
      <% end %>
      <li class="search_results">
        <a href="<%= restaurant_url(restaurant) %>">
        <%= restaurant.name %>
        </a>
        (Average Rating: <%= restaurant.average_rating %>)
      </li>
    <% end %>
    </ol>
  <% else %>
    <%= "No results found!" %>
  <% end %>

  <%= paginate @restaurants %>
</div>