<h1><%= @restaurant.name %></h1>
Average Rating: <%= average_rating(@restaurant) %> (<%= @restaurant.reviews.count%> reviews)<br>
Categories:<br>
<ul>
<% @restaurant.categories.each do |category| %>
  <li><%= category.name %></li>
<% end %>
</ul>
<% if current_user.admin == true %>
  <%= link_to "Edit Listing", edit_restaurant_url(@restaurant) %>
<% end %>

<h3>Restaurant Info</h3>
<ul>
  <% unless @restaurant.website.empty? %>
    <li><%= link_to @restaurant.website, @restaurant.website %> </li>
  <% end %>

  <% unless @restaurant.phone.empty? %>
    <li> <%= @restaurant.phone %> </li>
  <% end %>

  <li> <%= @restaurant.price %> </li>
  <li> <%= @restaurant.street %> </li>
  <li> <%= @restaurant.city %> </li>
  <li> <%= @restaurant.state %> </li>

  <% unless @restaurant.zip.empty? %>
    <li> <%= @restaurant.zip %> </li>
  <% end %>
</ul>

<h3>Reviews</h3>
<% if current_user %>
  <%= link_to "Write a review!", new_restaurant_review_url(@restaurant) %>
<% end %>

<br><br>

<% @restaurant.reviews.each do |review| %>

<strong>"<%= review.title %>"</strong> by <%= link_to review.user.username, user_url(review.user) %>
<br>
Rating: <%= review.rating %>
<br>
<%= review.body %>
<br><br>
<% end %>