<% user.reviews.sort_by{ |rev| rev.created_at }.reverse!.each do |review| %>

<div class="prof-review group">

  <h4><%= link_to review.restaurant.name, restaurant_url(review.restaurant) %></h4>
    <% if current_user == @user %>
      (<%= link_to "Edit Review", edit_review_url(review) %>)
    <% end %>
  <br>
  Rating: <%= review.rating %>
  <br>
  <strong>"<%= review.title %>"</strong>
  <br>

  <div class="review-body">
  <%= review.body %>

  <% if review.created_at > Time.now.beginning_of_day %>
      <br><%="Written #{time_ago_in_words(review.created_at)} ago"%>
  <% else %>
      <br>Written on <%= review.created_at.strftime("%m/%d/%Y") %>
  <% end %>
  </div>

</div>
<br>

<% end %>

