<!DOCTYPE html>
<html>
<head>
  <title>ITAG</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="group">
  <div class="container group">


    <div class="info">
      <ul>
        <strong>
        <% if signed_in? %>
          <li>User:
            <%= link_to current_user.username, user_url(current_user) %>
            <%= "(admin)" if current_user.admin == true %>
          </li>
          <li><%= link_to "Sign Out", session_url, :method => :delete %></li>
        <% else %>
          <li><%= link_to "Sign In", new_session_url %></li>
          <li><%= link_to "Sign up", new_user_url %></li>
        <% end %>
        </strong>
      </ul>
    </div>

    <div class="logo">
      <a href="<%= cities_url %>">
        <img src="http://i.imgur.com/yxKpGfC.png">
      </a>
    </div>

    <div class="search group">
      <form class="group" action="<%= search_url %>" method="post">
        <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

        <label>Food Type</label>
        <select name="cat_id" class="searchSelect">
        <% Category.all.each do |cat| %>
          <option value="<%= cat.id %>"><%= cat.name %></option>
        <% end %>
        </select>

        <label>In</label>
        <select name="city_id" class="searchSelect">
        <% City.all.each do |city| %>
          <option value="<%= city.id %>">
            <%= city.name %>, <%= city.state.name %>
          </option>
        <% end %>
        </select>

        <input id="find" type="submit" value="Find!">
      </form>

      <ul class="mini-nav group">
        <li><%= link_to "Home", cities_url %></li>
        <% if signed_in? %>
          <li><%= link_to "My Profile", user_url(current_user)%></li>
        <% else %>
          <li><%= link_to "My Profile", new_user_url %></li>
        <% end %>
      </ul>
    </div>

  </div>
</nav>

<main>
  <div class="main group">

    <%= yield %>

  </div>
</main>

</body>
</html>
